html,
body {
  background: #efefef;
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

html, body, #__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.react-colorful {
  width: 100% !important;
  height: 100% !important;
}
.react-colorful__saturation {
  height: 100%;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
